.order-wrap{

    background:#fff;

    .order-header{
        background:#f5f5f5;
        padding:25px 40px;
    }

    .process{
        display:table;
        width:100%;
        position:relative;

        .btn-success{
            background-color:#79a429;
        }

        .process-row{
            display:table-row;

            .process-step{
                /*display:table-cell;*/
                text-align:center;
                position:relative;
                float:left;
                width:180px;

                p{
                    margin-top:4px;
                }

                .btn-circle{
                    width:50px;
                    height:50px;
                    text-align:center;
                    font-size:14px;
                    border-radius:50%;
                }

                button[disabled]{
                    opacity:1 !important;
                    filter: alpha(opacity=100) !important;
                }
                .btn{
                    &:focus{
                        outline:none;
                    }
                }
            }
        }
        &:before{top:25px;bottom:0;position:absolute;content:" ";width:100%;height:1px;background-color:#ccc;}
    }

    .order-in{
        margin-bottom:30px;

        .cart-table .table tbody tr td{
            vertical-align:middle;
                text-align:center;
        }
        .cart-title{
            width:100%;
            background-color:#ff6666;
            padding:20px 20px;
            color:#fff;
    
            ul{
                .fa{
                    font-size:66px;
                }
                h2{
                    font-weight:bold;
                    font-size:32px;
                    color:#fff;
                }
                ins{
                    font-weight:bold;
                    font-size:16px;
                    text-decoration:none;
    
                    a{
                        color:#fff;
                    }
                    span{
                        font-size:18px;
                    }
                }
    
            }
            .cart-prev{
                position:relative;
                top:50%;
                left:50%;
                transform:translate(-50% ,-50%);
    
                a{
                    display:block;
    
                    .fa{
                        font-size:24px;
                    }
                    color:#fff;
                    p{
                        font-size:20px;
                    }
                }
    
            }
        }
        
        .pro-thumbnail{
            img{
                max-width: 160px;
                min-width: 120px;
            }
            
        }


        .pro-quantity{
            border:1px solid #ddd;
            width:100px;
            height:40px;
            display:inline-block;
            position:relative;
    
            input{
                width:100%;
                height:100%;
                border:none;
                padding-left:20px;
                padding-right:25px;
            }
            a{
                width:20px;
                height:20px;
                position:absolute;
                font-size:18px;
                line-height:20px;
                text-align:center;
                font-weight:normal;
            }
            a.inc{
                top:0px;
                right:0px;
                border-left:1px solid #ddd;
                border-bottom:1px solid #ddd;
    
            }
            a.dec{
                bottom:0px;
                right:0px;
                border-left:1px solid #ddd;
            }
        }
        .price{
            span{
                font-size:20px;
                font-weight:bold;
            }
            
        }
        td .pro-remove {
            .fa{
                font-size:22px;
            }
        }
    
        .select select{
            border-radius:0px;
            outline:0;
            appearance: none;
            background: transparent;
            
        }
    
        .cart-page-total{
            
            font-size:24px;
            font-weight:bold;
            h2{
                font-size:28px;
                color:#666;
                border-bottom:1px solid #666;
            }
            ul{
                margin-top:10px;
            }
        }

        .tab-content{
            .tab-pane{
                .card:hover{
                   box-shadow: none;
                }
            }
        }
    }
}

.process-user{
    border:0px !important;
    input[type=radio] {
        display: none;
    }
    #tab-1:checked ~ .tab label:nth-child(1),
    #tab-2:checked ~ .tab label:nth-child(2) {
        background-color:#555a5d;
        box-shadow: none;
    }
    .content > div {
        display: none;
    }
    #tab-1:checked ~ .content div:nth-child(1),
    #tab-2:checked ~ .content div:nth-child(2) {
        display: block;
    }
    .main {
      margin: 100px auto;
      max-width: 800px;
    }
    .tab {
      overflow: hidden;
      background-color:transparent;
      border:none !important;
      label {
        font-size: 14px;
        cursor: pointer;
        float: left;
        color: #fff;
        width: auto;
        text-align: center;
        padding: 5px 0;
        user-select: none;
        -webkit-user-select: none;
        background-color:#ccc;
      }
     
    }
    
    .content {
      
      min-height: 250px;
      > div {
        padding: 10px 0px;
        line-height: 1.5;
        font-size: 17px;
      }

      .form-group{
        label{
            font-size:14px;
            color:#000;
        }
        input{
            font-size:12px;
            background-color:#f1f1f1;
        }
        small{
            font-size:10px;
        }
      }
    }

}

.nav-pills .nav-link.active, .show > .nav-pills .nav-link{
    background: #79a429;
}
/*Vertical tab - Profil*/
.tabs-profil{
    .pills-contact-one{
        form{
            h4{
            font-size:14px !important;
            color:#000;
            background:#f1f1f1;
            padding:10px 15px;
            text-transform: none;
            font-weight:normal;
            }

            input[type=file]{
                outline:0;
                opacity: 0;
                pointer-events: none;
                user-select: none;
            }
            .label{
                width:100px;
                height: 100px;
                border:2px dashed grey;
                border-radius: 50%;
                display:block;
                padding:1.2em;
                text-align:center;
                transition:border 300ms ease;

                i{
                    display:block;
                    font-size:30px;
                    padding-bottom:5px;
                }
                .image-title{
                    font-size:12px;
                }

            }
            .label:hover{
                border:2px solid #000;

                i,
                .title{
                    color:#000;
                }
            }
        }
        
    }
    #tabs2{
       
        .tabInto{
            display: inline-block;
            padding:5px 10px;
            cursor: pointer;
            position: relative;
            z-index:5;
        }
        
        .whiteborder{
            border:1px solid #e9ecef;
            border-bottom:1px solid #fff;
            border-radius: 3px 3px 0 0;
        }
        .tabContent{
            width:100%;
            height: auto;
            border:1px solid #e9ecef;
            position: relative;
            top:-1px;
            z-index:1;
            padding:10px;
            border-radius: 0 0 3px 3px;
        }
        .hideTab{
            display:none;
        }
        .showTab{
            display:block;
        }
    }

}

