.order-wrap {
  background: #fff; }
  .order-wrap .order-header {
    background: #f5f5f5;
    padding: 25px 40px; }
  .order-wrap .process {
    display: table;
    width: 100%;
    position: relative; }
    .order-wrap .process .btn-success {
      background-color: #79a429; }
    .order-wrap .process .process-row {
      display: table-row; }
      .order-wrap .process .process-row .process-step {
        /*display:table-cell;*/
        text-align: center;
        position: relative;
        float: left;
        width: 180px; }
        .order-wrap .process .process-row .process-step p {
          margin-top: 4px; }
        .order-wrap .process .process-row .process-step .btn-circle {
          width: 50px;
          height: 50px;
          text-align: center;
          font-size: 14px;
          border-radius: 50%; }
        .order-wrap .process .process-row .process-step button[disabled] {
          opacity: 1 !important;
          filter: alpha(opacity=100) !important; }
        .order-wrap .process .process-row .process-step .btn:focus {
          outline: none; }
    .order-wrap .process:before {
      top: 25px;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 100%;
      height: 1px;
      background-color: #ccc; }
  .order-wrap .order-in {
    margin-bottom: 30px; }
    .order-wrap .order-in .cart-table .table tbody tr td {
      vertical-align: middle;
      text-align: center; }
    .order-wrap .order-in .cart-title {
      width: 100%;
      background-color: #ff6666;
      padding: 20px 20px;
      color: #fff; }
      .order-wrap .order-in .cart-title ul .fa {
        font-size: 66px; }
      .order-wrap .order-in .cart-title ul h2 {
        font-weight: bold;
        font-size: 32px;
        color: #fff; }
      .order-wrap .order-in .cart-title ul ins {
        font-weight: bold;
        font-size: 16px;
        text-decoration: none; }
        .order-wrap .order-in .cart-title ul ins a {
          color: #fff; }
        .order-wrap .order-in .cart-title ul ins span {
          font-size: 18px; }
      .order-wrap .order-in .cart-title .cart-prev {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .order-wrap .order-in .cart-title .cart-prev a {
          display: block;
          color: #fff; }
          .order-wrap .order-in .cart-title .cart-prev a .fa {
            font-size: 24px; }
          .order-wrap .order-in .cart-title .cart-prev a p {
            font-size: 20px; }
    .order-wrap .order-in .pro-thumbnail img {
      max-width: 160px;
      min-width: 120px; }
    .order-wrap .order-in .pro-quantity {
      border: 1px solid #ddd;
      width: 100px;
      height: 40px;
      display: inline-block;
      position: relative; }
      .order-wrap .order-in .pro-quantity input {
        width: 100%;
        height: 100%;
        border: none;
        padding-left: 20px;
        padding-right: 25px; }
      .order-wrap .order-in .pro-quantity a {
        width: 20px;
        height: 20px;
        position: absolute;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        font-weight: normal; }
      .order-wrap .order-in .pro-quantity a.inc {
        top: 0px;
        right: 0px;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd; }
      .order-wrap .order-in .pro-quantity a.dec {
        bottom: 0px;
        right: 0px;
        border-left: 1px solid #ddd; }
    .order-wrap .order-in .price span {
      font-size: 20px;
      font-weight: bold; }
    .order-wrap .order-in td .pro-remove .fa {
      font-size: 22px; }
    .order-wrap .order-in .select select {
      border-radius: 0px;
      outline: 0;
      appearance: none;
      background: transparent; }
    .order-wrap .order-in .cart-page-total {
      font-size: 24px;
      font-weight: bold; }
      .order-wrap .order-in .cart-page-total h2 {
        font-size: 28px;
        color: #666;
        border-bottom: 1px solid #666; }
      .order-wrap .order-in .cart-page-total ul {
        margin-top: 10px; }
    .order-wrap .order-in .tab-content .tab-pane .card:hover {
      box-shadow: none; }

.process-user {
  border: 0px !important; }
  .process-user input[type=radio] {
    display: none; }
  .process-user #tab-1:checked ~ .tab label:nth-child(1),
  .process-user #tab-2:checked ~ .tab label:nth-child(2) {
    background-color: #555a5d;
    box-shadow: none; }
  .process-user .content > div {
    display: none; }
  .process-user #tab-1:checked ~ .content div:nth-child(1),
  .process-user #tab-2:checked ~ .content div:nth-child(2) {
    display: block; }
  .process-user .main {
    margin: 100px auto;
    max-width: 800px; }
  .process-user .tab {
    overflow: hidden;
    background-color: transparent;
    border: none !important; }
    .process-user .tab label {
      font-size: 14px;
      cursor: pointer;
      float: left;
      color: #fff;
      width: auto;
      text-align: center;
      padding: 5px 0;
      user-select: none;
      -webkit-user-select: none;
      background-color: #ccc; }
  .process-user .content {
    min-height: 250px; }
    .process-user .content > div {
      padding: 10px 0px;
      line-height: 1.5;
      font-size: 17px; }
    .process-user .content .form-group label {
      font-size: 14px;
      color: #000; }
    .process-user .content .form-group input {
      font-size: 12px;
      background-color: #f1f1f1; }
    .process-user .content .form-group small {
      font-size: 10px; }

.nav-pills .nav-link.active, .show > .nav-pills .nav-link {
  background: #79a429; }

/*Vertical tab - Profil*/
.tabs-profil .pills-contact-one form h4 {
  font-size: 14px !important;
  color: #000;
  background: #f1f1f1;
  padding: 10px 15px;
  text-transform: none;
  font-weight: normal; }

.tabs-profil .pills-contact-one form input[type=file] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none; }

.tabs-profil .pills-contact-one form .label {
  width: 100px;
  height: 100px;
  border: 2px dashed grey;
  border-radius: 50%;
  display: block;
  padding: 1.2em;
  text-align: center;
  transition: border 300ms ease; }
  .tabs-profil .pills-contact-one form .label i {
    display: block;
    font-size: 30px;
    padding-bottom: 5px; }
  .tabs-profil .pills-contact-one form .label .image-title {
    font-size: 12px; }

.tabs-profil .pills-contact-one form .label:hover {
  border: 2px solid #000; }
  .tabs-profil .pills-contact-one form .label:hover i,
  .tabs-profil .pills-contact-one form .label:hover .title {
    color: #000; }

.tabs-profil #tabs2 .tabInto {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  z-index: 5; }

.tabs-profil #tabs2 .whiteborder {
  border: 1px solid #e9ecef;
  border-bottom: 1px solid #fff;
  border-radius: 3px 3px 0 0; }

.tabs-profil #tabs2 .tabContent {
  width: 100%;
  height: auto;
  border: 1px solid #e9ecef;
  position: relative;
  top: -1px;
  z-index: 1;
  padding: 10px;
  border-radius: 0 0 3px 3px; }

.tabs-profil #tabs2 .hideTab {
  display: none; }

.tabs-profil #tabs2 .showTab {
  display: block; }
